@import 'styles/variables';

.root {
  position: fixed;
  z-index: 9;
  bottom: 3.2rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;

  .flexContainer {
    @apply bg-fsGrey-50;
    max-width: 135.6rem;
    width: 100%;
    padding: 0.8rem 2.9rem 0.8rem 2.2rem;

    flex-direction: column;
    border-radius: 1.2rem;
    display: flex;
    @screen md {
      padding: 0.8rem 0.8rem 0.8rem 1.6rem;
      flex-direction: row;
      margin: 0 2rem;
      align-items: center;
    }
    @screen lg {
      padding: 0.8rem 0.8rem 0.8rem 4rem;
    }
  }
  .title {
    @apply body-copy-2 font-medium;
    white-space: nowrap;
    margin-right: auto;
    margin-bottom: 0.8rem;
    @screen md {
      margin-bottom: 0;
    }
    @screen lg {
      margin-right: 8rem;
    }
  }
  .filter {
    background-color: transparent;
    margin-bottom: 0.8rem;
    padding: 0;
    @screen md {
      margin-bottom: 0;
      gap: 4rem;
    }
  }
  .button {
    @screen md {
      margin-left: 1.6rem;
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
      border-radius: 0.8rem;
    }
    @screen lg {
      margin-left: auto;
      padding-top: 1.7rem;
      padding-bottom: 1.7rem;
    }
  }
}
.menu {
  //the default mui positioning of the dropdown modal does not fit the design on this sticky posioned element
  top: auto !important;
  bottom: 14.5rem !important;
  @screen md {
    top: auto !important;
    bottom: 9.5rem !important;
  }
}
