@import 'styles/variables';

.root {
  .headline {
    @apply headline-h2 col-span-full;
    margin-bottom: 4.8rem;
    @screen xxl {
      margin-bottom: 6.4rem;
    }
  }

  .richText {
    @apply col-span-full;
    margin-bottom: 3rem;
    @screen xl {
      margin-bottom: 4rem;
    }
    @screen xxl {
      margin-bottom: 6.2rem;
    }
  }
  .image {
    @apply col-span-full xl:col-span-10 xl:col-start-2 xxl:col-span-full;
    aspect-ratio: 5/3;
    margin-bottom: 3rem;
    border-radius: 1.2rem;
    overflow: hidden;
  }

  .buttonContainer {
    margin-bottom: 3.2rem;
    display: flex;
    gap: 2.4rem;
  }

  .headline,
  .richText,
  .buttonContainer {
    @apply col-span-full;
    @screen md {
      @apply col-span-6 col-start-2;
    }
    @screen xl {
      @apply col-span-8 col-start-3;
    }
    @screen xxl {
      @apply col-start-3 col-span-8;
    }
  }
}
