@import 'styles/variables';

.root {
  .heading {
    @apply headline-h2 col-span-full;
    margin-bottom: 1.6rem;

    @screen xl {
      @apply col-span-10 col-start-2;
    }
  }
  .subline {
    @apply body-copy-1 col-span-full;
    @screen md {
      @apply col-span-4;
    }
    @screen xl {
      @apply col-start-2 col-span-5;
    }
    margin-bottom: 3.2rem;
  }
  .leftColumn {
    @apply col-span-full;
    margin-bottom: 3.2rem;
    @screen md {
      @apply col-span-3 col-start-1;
      margin-bottom: 0;
    }
    @screen xl {
      @apply col-span-4 col-start-2;
    }
  }
  .ctaContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1.2rem;
    gap: 0.2rem 0;
    overflow: hidden;
    @screen xxl {
      height: 55.1rem;
    }
  }

  .ctaBox {
    @apply bg-fsGrey-100;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 1.6rem 2.4rem;
    @screen md {
      padding: 2.4rem;
    }

    @media (hover: hover) {
      @apply transition-colors;

      &:hover {
        @apply bg-fsBlue-600 text-white;
      }
    }
  }
  .icon {
    margin-bottom: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
  }
  .ctaLabel {
    @apply card-title;
    margin-bottom: 1.6rem;
  }
  .ctaCopy {
    @apply body-copy-2;
    max-width: 28.9rem;
  }
  .form {
    @apply col-span-full;
    @screen md {
      @apply col-span-5;
    }
    @screen xl {
      @apply col-span-6;
    }
  }
}
