@import 'styles/variables';

.spacingRoot {
  :global(.main) & {
    &:first-of-type {
      margin-top: -10rem;
    }
  }

  :global(.background-wrap) & {
    @screen md {
      &:first-of-type {
        .root {
          border-radius: 2.4rem 2.4rem 0 0;
        }
      }
      &:last-of-type {
        .root {
          border-radius: 0 0 2.4rem 2.4rem;
        }
      }
    }
  }
}

.bgGradient {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 50%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.root {
  overflow: hidden;
  position: relative;

  @screen md {
    border-radius: 2.4rem;
    margin-left: 2.7rem;
    margin-right: 2.7rem;

    :global(.background-wrap) & {
      border-radius: 0;
    }

    :global(.not-found) & {
      border-radius: 2.4rem 2.4rem 0 0;
    }
  }

  @screen xxl {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .fg,
  .bg {
    @screen md {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  .bg {
    aspect-ratio: 1 / 1;
    z-index: 0;
  }

  .fg {
    position: relative;
    z-index: 1;

    :global(.not-found) & {
      padding-bottom: 12rem;
    }

    @screen md {
      align-items: center;
      display: flex;
      min-height: 90vh;
      @media (max-height: 800px) {
        min-height: 800px; // When the viewport height is 800px or more, use 800px
      }

      :global(.not-found) & {
        padding-bottom: 0;
      }
    }
  }

  .container {
    margin: 0 auto;
    max-width: 122.4rem;
    width: 100%;

    @screen xxl {
      max-width: 129rem;
    }
  }

  .content {
    padding: 4rem 3.4rem;
    z-index: 1;
    @apply col-span-4;

    @screen md {
      padding: 8rem 0;
      @apply col-span-4 col-start-2;
    }

    @screen xl {
      @apply col-span-5 col-start-2;
    }

    @screen xxl {
      @apply col-span-6 col-start-1;
    }
  }

  .eyebrow {
    margin: 0;
  }

  .headline {
    margin-top: 1.6rem;
    margin-bottom: 0;

    @screen md {
      margin-top: 1.6rem;
    }

    @screen xl {
      margin-top: 2.4rem;
    }

    @screen xxl {
      margin-top: 4rem;
    }
  }

  .copy {
    margin-top: 1.6rem;

    @screen md {
      width: 83.33%;
    }
  }

  .quote {
    margin-top: 1.6rem;
  }

  .quoteAuthor {
    margin-top: 1.6rem;
  }

  .buttonRow {
    margin-top: 1.6rem;

    @screen md {
      display: flex;
      gap: 1.6rem;
      margin-top: 4rem;
    }
  }

  .secondaryCta {
    margin-top: 0.6rem;

    @screen md {
      margin: 0;
    }
  }
  .paymentInformation {
    display: flex;
    align-items: flex-end;
    margin-top: 1.6rem;
    justify-content: flex-start;
    @screen md {
      margin-top: 1.8rem;
    }
    @screen xl {
      margin-top: 2.4rem;
    }
    @screen xxl {
      margin-top: 4rem;
    }
  }
  .paymentText {
    @apply body-copy-2 font-medium;
    margin-top: auto;
    white-space: nowrap;
    line-height: 1.2rem;
  }
  .affirmLogo {
    margin-left: 0.7rem;
    margin-right: 1.2rem;
  }
  .paymentLink {
    margin-top: auto;
    line-height: 1.2rem;
    width: auto;
  }
  .affirmLink {
    margin-top: auto;
    line-height: 1.2rem;
    width: auto;
  }

  // color
  &.light {
    @apply bg-fsGrey-950 text-fsGrey-50;
  }

  &.dark {
    @apply bg-fsGrey-100 text-fsGrey-950;
  }

  // layout
  &.right {
    .content {
      @apply text-right;
      @apply md:col-start-4;
      @apply xl:col-start-6;
      @apply xxl:col-start-7;
    }

    @screen md {
      .copy {
        margin-left: auto;
      }

      .buttonRow {
        flex-flow: row-reverse;
      }
    }
  }

  // size
  &.compact {
    position: relative;
    min-height: 44rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .content {
      margin-bottom: 4.2rem;
      @screen md {
        margin-bottom: 0;
      }
    }
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .fg {
      @screen md {
        min-height: 58rem;

        :global(.blog-landing) & {
          display: flex;
          align-items: center;
          min-height: 43rem;

          @screen xxl {
            min-height: 53rem;

            .headline {
              @apply headline-h2;
            }
          }
        }
      }
    }
  }

  // imageSize
  .bg-left,
  .bg-right {
    width: 50%;
  }

  .bg-left {
    left: 0;
  }

  .bg-right {
    left: auto;
    right: 0;
  }

  .contain {
    object-fit: contain !important;
  }

  :global(.affirm-as-low-as) {
    @apply body-copy-2 font-medium;
  }

  :global(.affirm-modal-trigger) {
    @apply caption-label underline;
    position: relative;
    white-space: nowrap;
    @screen md {
      margin-left: 0.8rem;
    }
  }

  :global(.__affirm-logo) {
    font-size: 3rem !important;
  }

  &.post {
    .headline {
      @apply headline-h1;

      @screen xxl {
        @apply headline-h2;
      }
    }

    .fg {
      min-height: 46rem;
    }

    &.content {
      padding-top: 13.6rem;
      padding-bottom: 6.4rem;

      @screen md {
        padding-top: 12.8rem;
        padding-bottom: 10.4rem;
      }

      @screen xl {
        padding-top: 15.2rem;
        padding-bottom: 12.8rem;
      }

      @screen xxl {
        padding-top: 20.2rem;
        padding-bottom: 20.2rem;
      }
    }
  }
}

.popout {
  margin-top: -3.6rem;
  position: relative;

  .image {
    @apply col-span-full;
    border-radius: 0.8rem;
    overflow: hidden;
  }

  @screen md {
    margin-top: -5.2rem;

    .image {
      border-radius: 1.2rem;
    }
  }

  @screen xl {
    margin-top: -7rem;

    .image {
      @apply col-span-10 col-start-2;
    }
  }

  @screen xxl {
    margin-top: -11.1rem;

    .image {
      @apply col-span-full;
      border-radius: 2.4rem;
    }
  }
}
