@import 'styles/variables';

.root {
  top: 0.4rem;
  bottom: 0.4rem;
  position: absolute;
  width: 6.8rem;
  right: 0.4rem;

  @screen xl {
    @apply mr-10;
    position: relative;
    top: 0;
  }

  .dot {
    @apply body-legal bg-fsRed-600 text-white;
    position: absolute;
    right: 0.4rem;
    top: 0rem;
    border-radius: 0.8rem;
    height: 1.6rem;
    text-align: center;
    width: 1.6rem;
  }
}

.button {
  &.button {
    @apply bg-fsGrey-950 text-fsBlue-50 outline outline-fsGrey-900;
    outline-width: 1px;
    outline-offset: -1px;
  }
}
