@import 'styles/variables';

$easeOut: cubic-bezier(0.215, 0.61, 0.355, 1);

.root {
  @apply bg-fsGrey-950;
  border-radius: 1.2rem;
  display: flex;
  margin: 0 auto;
  position: relative;
  padding: 0.4rem;
  min-height: 7.6rem;
  max-width: 135.6rem;
  width: 100%;

  @screen md {
    align-items: center;
    padding-left: 4rem;
  }
}

.logo {
  flex-shrink: 0;
  margin: auto;
  width: 16.2rem;

  @screen xl {
    margin: auto 0;
  }
}

.navBar {
  @apply bg-white;
  border-radius: 1.2rem;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 8.4rem;
  width: 100%;
  z-index: 10;
  padding: 3.6rem 2.8rem 5.6rem;
  font-size: 2rem;
  line-height: 1.4;

  @screen md {
    font-size: 1.8rem;
  }

  @screen xl {
    font-size: 1.6rem;
  }
}

.navLinks {
  @screen xl {
    @apply text-fsGrey-50;
  }
}

.navLink {
  position: relative;

  @screen xl {
    padding: 1.1rem 0 0.9rem;
  }

  &::after {
    @apply bg-fsBlue-600;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 50%;
    height: 0.4rem;
    border-radius: 0.4rem;
    margin-left: -0.2rem;
    width: 0.4rem;

    @screen xl {
      content: '';
    }
  }

  &.active,
  &.subActive {
    &::after {
      opacity: 1;
    }
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
}

.subMenu {
  @apply bg-white;
  border-radius: 1.2rem;
}

// desktop styles
.desktop {
  .navBar {
    background: none;
    position: static;
    padding: 0;

    &.open,
    &.closed {
      opacity: 1;
      height: auto;
    }
  }

  .navLinks {
    flex-direction: row;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    column-gap: 2rem;

    @screen xl {
      column-gap: 5.6rem;
    }
  }

  .subMenuWrap {
    left: 0;
    position: absolute;
    right: 0;
    top: 8.4rem;
    overflow: hidden;
    height: 0;
    transition: height 0ms 1s;
    transform: translateZ(0);
    pointer-events: none;

    &.subWrapOpen {
      height: 100vh;
      transition-delay: 0s;
    }
  }

  .subMenu {
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    transition: opacity 0.8s $easeOut;
    transition-property: transform, opacity;

    &.open {
      transform: translateY(0%);
      pointer-events: auto;
      z-index: 1;
    }

    &.closed {
      transform: translateY(-110%);
      z-index: 0;
    }
  }
}

// mobile styles
.mobile {
  .navBar {
    display: flex;
    flex-flow: column;

    &.open {
      opacity: 1;
      height: calc(100vh - 10.8rem - 4.8rem);
      height: calc(100svh - 10.8rem - 4.8rem);
      pointer-events: auto;
    }

    &.closed {
      height: 0;
      opacity: 0;
      pointer-events: none;
    }
  }

  .navLinks {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.6rem;
  }

  .navLink {
    &.hasSub {
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .subMenu {
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &.open {
      display: flex;
      flex-direction: column;
      @screen xl {
        display: block;
      }
    }

    &.closed {
      display: none;
    }
  }

  .teamMenu {
    &.open {
      display: flex;
    }
  }
}

.cart,
.burger {
  top: 0.4rem;
  bottom: 0.4rem;
  position: absolute;
  width: 6.8rem;
}

.cart {
  @apply text-white;
  padding: 2.2rem;
  right: 0.4rem;

  @screen xl {
    @apply mr-10;
    position: relative;
    top: 0;
  }
}

.burger {
  display: flex;
  left: 0.4rem;

  > div {
    margin: auto;
  }

  @screen xl {
    display: none;
  }
}

button.overlay {
  appearance: none;
  position: fixed;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  background: #1e1e1e;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @apply transition-opacity;
  transition-duration: 0.3s;
  transform: translateZ(0);

  &.overlay__active {
    opacity: 0.8;
    pointer-events: all;
  }
}

.contactButton {
  &.contactButton {
    display: none;

    @screen xl {
      display: block;
    }
  }
}
