@import 'styles/variables';

.subMenu {
  @apply bg-white;
  padding: 2.4rem;

  @screen md {
    align-items: stretch;
  }

  @screen xl {
    padding: 0;
  }
}

.subBack {
  margin: 0.8rem 0.6rem 2.4rem;

  button {
    display: flex;
    align-items: center;
    font-size: inherit;
    line-height: inherit;
    gap: 1.6rem;
  }

  svg {
    transform: scaleX(-1);
  }

  @screen xl {
    display: none;
  }
}

.contentContainer {
  overflow: auto;

  @screen xl {
    display: flex;
    width: 100%;
  }
}

.products {
  li + li {
    margin-top: 0.8rem;
  }

  @screen xl {
    flex-shrink: 0;
    padding: 0.6rem;
    width: (550/1180 * 100%);
  }

  @screen xxl {
    width: (725/1335 * 100%);
  }
}

.product {
  @apply bg-fsGrey-50;
  border-radius: 0.8rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: opacity 0.3s ease-out;
  transition-duration: 150ms, 150ms, 300ms;
  transition-property: background-color, color, opacity;

  @for $n from 1 through 4 {
    li:nth-child(#{$n}) & {
      transition-delay: 0s, 0s, #{0.3s + 0.2s * $n};
    }
  }

  @screen md {
    @apply bg-fsGrey-100;
    padding: 0.8rem;
  }

  @screen xl {
    align-items: flex-end;
    padding: 0;
  }

  @media (hover: hover) {
    &:hover {
      @apply bg-fsBlue-600 text-white;
    }
  }
}

.productActive {
  @apply bg-fsBlue-600 text-white;
}

.productImage {
  flex-grow: 0;
  aspect-ratio: 5/3;
  object-fit: cover;
  border-radius: 0.4rem;
  width: 12.1rem;

  @screen xl {
    border-radius: 0;
    width: 50%;
  }
}

.productCopy {
  padding: 0.8rem 1.6rem;

  @screen md {
    padding: 1.6rem;
  }

  @screen xl {
    padding: 1.8rem 2.4rem;
    width: 50%;
  }
}

.productHeadline {
  @apply card-title;
}

.productPrice {
  @apply body-copy-2 mt-4 xl:mt-8;
}

.subLinks {
  padding: 3.8rem 0.6rem;

  li {
    margin-bottom: 1.6rem;
    transition: opacity 0.45s ease-out;

    @for $n from 1 through 6 {
      &:nth-child(#{$n}) {
        transition-delay: #{0.8s + 0.075s * $n};
      }
    }
  }

  @screen xl {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      pointer-events: none;
      &:hover {
        .subLink {
          @apply opacity-50;

          &:hover {
            @apply opacity-100;
          }
        }
      }
    }

    li {
      pointer-events: auto;
      @apply my-32;
    }
  }
}

.subLink {
  @screen xxl {
    font-size: 2rem;
  }

  @media (hover: hover) {
    display: block;
    transform: translateX(0);
    @apply transition-transform;
    transition-property: opacity, transform;
    position: relative;

    &::before {
      @apply bg-fsBlue-600 transition-opacity;
      bottom: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      left: -1.4rem;
      top: 50%;
      height: 0.4rem;
      border-radius: 0.4rem;
      margin-top: -0.2rem;
      width: 0.4rem;

      @screen xl {
        content: '';
      }
    }

    &:hover {
      transform: translateX(1.4rem);

      &::before {
        opacity: 1;
      }
    }
  }
}

.linkActive {
  transform: translateX(1.4rem);

  &::before {
    opacity: 1;
  }
}

.open {
  .product,
  .subLinks li {
    opacity: 1;
  }
}

.closed {
  .product,
  .subLinks li {
    opacity: 0;
  }
}
