@import 'styles/variables';

.teamMenu {
  &.teamMenu {
    @apply bg-fsGrey-950 text-white;
    display: flex;
  }

  padding: 2.4rem 1.8rem 0;
  padding-bottom: 3.2rem;
  flex-flow: column;

  @screen xl {
    padding: 4rem 0 3.5rem;
  }

  @screen xxl {
    padding: 4rem 0;
  }
}

.subBack {
  margin: 0.8rem 0.6rem 2.4rem;

  button {
    display: flex;
    font-size: 2rem;
    gap: 1.6rem;
  }

  svg {
    transform: scaleX(-1);
  }

  @screen xl {
    display: none;
  }
}

.menuTrack {
  overflow: auto;
  position: relative;

  ul {
    padding-bottom: 7rem;
  }

  @screen xl {
    overflow: hidden;

    ul {
      padding-bottom: 0;
      overflow: auto;
      scroll-snap-type: x mandatory;
      display: flex;
      justify-content: flex-start;
      flex-flow: row nowrap;
      gap: 1.6rem 0.8rem;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        scroll-snap-align: start;
        width: 24.5rem;
        flex-shrink: 0;
        scroll-margin-left: 2.4rem;

        &:first-child {
          margin-left: 2.4rem;
        }

        &:last-child {
          margin-right: 2.4rem;
        }
      }
    }
  }
}

.member {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1.6rem;
  padding: 0.8rem;
  margin-bottom: 0.2rem;

  @screen xl {
    display: block;
    padding: 0;
    margin: 0;
  }
}

.memberActive {
  .memberImage {
    &::after {
      opacity: 1;
    }
  }
}

.memberImage {
  position: relative;
  border-radius: 0.4rem;
  width: 17.1rem;
  aspect-ratio: 21/9;
  overflow: hidden;

  &::after {
    @apply bg-fsBlue-600 bg-opacity-20 border-2 border-fsBlue-600;
    @apply transition-opacity;
    border-radius: 0.4rem;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
  }

  @media (hover: hover) {
    .member:hover & {
      &::after {
        opacity: 1;
      }
    }
  }

  @screen xl {
    border-radius: 0;
    margin-bottom: 1.9rem;
    width: 100%;

    &:after {
      border-radius: 0;
    }
  }
}

.memberTitle {
  @apply body-copy-1 font-medium;
  line-height: 1;
}

.memberCopy {
  display: none;

  @screen xl {
    @apply body-legal;
    display: block;
    margin-top: 1.2rem;
  }

  @screen xxl {
    @apply body-copy-2;
  }
}

.teamContact {
  position: relative;

  &:before {
    content: '';
    left: 0;
    bottom: 50%;
    width: 100%;
    height: 46rem;
    pointer-events: none;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.38%, #121212 80.35%);
  }

  div {
    position: relative;
  }
}
