@import '../../../styles/variables';

.root {
  padding: 0.8rem;
  background-color: theme('colors.fsGrey.50');
  border-radius: 50rem;
  overflow: hidden;
  display: flex;
  gap: 4.8rem;
  display: none;

  @screen xl {
    display: flex;
  }
}

.mobileFilter {
  padding: 0.8rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: theme('colors.fsGrey.50');
  border-radius: 0.8rem;

  @screen md {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.8rem 0.8rem 1.6rem;
    border-radius: 1.2rem;
    margin: 0 1.2rem 0 2rem;
  }

  @screen xl {
    display: none;
  }

  .dropdown {
    @screen md {
      width: 25.6rem;
    }
  }

  .dropdownLabel {
    @apply body-copy-3 mb-4 font-medium;

    @screen md {
      @apply body-copy-1;
    }
  }
}

.blogFilter {
  position: relative;
  margin-top: -4rem;
  margin-bottom: 2.8rem;
  z-index: 1;

  @screen md {
    margin-top: -4rem;
    margin-bottom: 2.8rem;
  }

  @screen xl {
    margin-top: -2.8rem;
    margin-bottom: 7.2rem;
    @apply default-grid;
  }

  @screen xxl {
    display: block;
    margin-top: -3rem;
  }
}

.blogFilterBar {
  @screen xl {
    @apply col-span-10 col-start-2;
  }

  @screen xxl {
    padding: 1.3rem 1.3rem 1.7rem;
  }
}
