@import 'styles/variables';

.root {
  & + footer {
    margin-top: 6.4rem;
    @screen md {
      margin-top: 4rem;
    }
    @screen xl {
      margin-top: 12.8rem;
    }
    @screen xxl {
      margin-top: 56rem;
    }
  }
  .full {
    .image {
      border-radius: 0;

      :global(.dark-ui) & {
        border-radius: 0.8rem;
      }
    }

    @screen md {
      .image {
        border-radius: 2.4rem;
      }

      margin-left: 2.8rem;
      margin-right: 2.8rem;
    }

    @screen xxl {
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;

    @screen md {
      border-radius: 1.2rem;
    }

    @screen xxl {
      border-radius: 2.4rem;
    }
  }

  .slide {
    @apply col-span-full xl:col-span-10 xl:col-start-2 xxl:col-span-full;
    :global(.swiper-slide) {
      aspect-ratio: 16 / 9;
      position: relative;
    }
  }

  .full {
    .footer {
      @apply container;
    }
  }

  .footer {
    @apply col-span-full xl:col-span-10 xl:col-start-2 xxl:col-span-full;
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
    min-height: 4rem;
    position: relative;
    flex-flow: column;
    gap: 0;

    @screen md {
      align-items: center;
      flex-flow: row;
    }

    .pagination {
      margin: 0 auto;
      flex-shrink: 0;
    }

    .caption {
      @apply caption-gallery;
      display: flex;
      flex-flow: column;
      align-items: center;
      text-align: center;
      flex-grow: 1;

      &.divider {
        @screen md {
          // @apply border-l-2 border-fsGrey-400;
          align-items: center;
          // margin-left: 4.8rem;
          // padding-left: 4.8rem;
          flex-flow: row;
          text-align: left;
          flex-grow: 1;
        }

        &::before {
          content: '';
          height: 1px;
          width: 100%;
          display: block;
          background-color: theme('colors.fsGrey.400');
          margin: 2.4rem 0;

          @screen md {
            text-align: left;
            width: 1px;
            height: 6.6rem;
            background-color: currentColor;
            margin: auto 4.8rem;
          }
        }
      }

      &.fullWidthCaption {
        width: 100%;
        @screen xl {
          max-width: 68%;
        }
      }
    }
  }
}
