@font-face {
  font-family: 'Stratos';
  src: url('/fonts/Stratos/stratos-medium.ttf');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Stratos';
  src: url('/fonts/Stratos/stratos-semibold.ttf');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Stratos';
  src: url('/fonts/Stratos/stratos-bold.ttf');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}
