@import '../node_modules/normalize.css/normalize.css';
@import 'font';
@import 'variables';
@import 'typography';

/* purgecss start ignore */
@import 'base';
/* purgecss end ignore */

html {
  @apply bg-white text-fsGrey-950;
  height: 100%;
}

body {
  min-height: 100%;
  @apply body-copy-1;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  min-height: 100%;
  position: relative;

  @screen md {
    padding-bottom: 2.7rem;
  }

  @screen xxl {
    padding-bottom: 5rem;
  }
}

.top-headline {
  @apply headline-h4 mb-32 col-span-full;

  @screen md {
    @apply col-span-4 col-start-2;
  }

  @screen xl {
    @apply col-span-5 col-start-3;
  }

  @screen xxl {
    @apply col-span-7 col-start-1;
  }
}

.spacing-small {
  margin-top: 2.4rem;

  @screen md {
    margin-top: 3.2rem;
  }
}

.spacing-medium {
  margin-top: 4.8rem;

  @screen md {
    margin-top: 6.4rem;
  }
}

.spacing-large {
  margin-top: 8rem;

  @screen md {
    margin-top: 12.8rem;
  }
}

.spacing-xlarge {
  margin-top: 12.8rem;

  @screen md {
    margin-top: 16.4rem;
  }
}

::part(acsb-trigger) {
  left: -500rem;
}

@import './background-wrap';
